# =========================
# Virtual Environments
# =========================
.venv/
venv/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Environment Variables
# =========================
.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Uploads
# =========================
uploads/

# =========================
# Logs
# =========================
*.log



# =========================
# Hugging Face Cache
# =========================
.cache/

